@import "../../utility/component.css";


.badge-secondary{
    color: #fff;
    background-color: #6c757d;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-icon {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
}

.badge-icon-position{
    position: relative;
    top: -1rem;
    left: -1rem;
}

.live-icon-top{
    top:-2rem;
    position: relative;
   }

.live-status-avatar-border-color{
    border: 2px solid #dc3545; 
}