@import "../../utility/component.css";

/* .horizontal-nav-header{
    display: flex;
}

.horizontal-nav-list{
  display: flex;
} */

.horizontal-nav-header{
    display: flex;
    column-gap: 2rem;
    background-color: var(--icon-tertiary-color);
}

.horizontal-nav-list{
    display: flex;
    list-style-type: none;
    column-gap: 2rem;
    align-items: center;
    margin-left: 10rem;
    cursor: pointer;
}

.vertical-nav-bar-list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    padding: 1rem 1rem 1rem 1rem;
}

.vertical-nav-bar-list-content:hover{
    background-color: var(--primary-background-color);
    padding: 1rem 0rem 1rem 0rem;
    cursor: pointer;
    border-style: solid;
    border-width: 0px 0px 0px 10px;
    color: var(--icon-secondary-color);
}

.desktop-nav-bar{
    display: flex;
    column-gap: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    width: 100%;
    position: relative;
}

.desktop-nav-bar-list{
    display: flex;
    column-gap: 2rem;
    list-style-type: none;
    color: var(--icon-primary-color);
    cursor: pointer;
}

.desktop-nav-bar-content:hover{
    color: var(--icon-secondary-color);
}

#desktop-close-icon{
    display: none;
}


.submenu {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    }

.submenu li {
    display:block;
    position:relative;
    float:left;
    background: var(--primary-background-color); 
    }

.submenu li a {
    display:block;
    padding:0;
    text-decoration:none;
    width:200px; 
    line-height:35px; 
    color:var(--icon-primary-color); 
    }
        

    
.submenu li:hover {background:var(--primary-background-color);color: var(--icon-secondary-color);} 

.submenu ul {
    position:absolute;
    padding:0;
    left:0;
    display:none; 
    }

.submenu li:hover ul ul {display:none;} 

.submenu li:hover ul {display:block;} 

.submenu li li:hover ul {
    display:block; 
    margin-left:200px; 
    margin-top:-35px; 
    }


@media screen and (max-width: 800px) {
    .horizontal-nav-header,.horizontal-nav-list{
       flex-direction: column;
       row-gap: 1rem;
       margin-left: 0;
       align-items: unset;

    }

    #desktop-close-icon{
        display: block;
        cursor: pointer;
    }

    .desktop-nav-bar-list{
        display: none;
    }

    .responsive{
        float: inherit;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        margin: auto;
      }

      .submenu {
        flex-direction: column;
        row-gap: 1rem;
        margin-left: 0;
        align-items: unset;
      }

  }
