@import "../../utility/component.css";

.alert{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert_example{
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

/*----alert-close-icon---*/

.close_alert{
  margin-left: 0.938rem;
  color: var(--white);
  font-weight: bold;
  float: right;
  font-size: 1.375rem;
  line-height: 1.25rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}

/*----action-alert---*/

.action_alert{
  display: block;
  display: flex;
  justify-content: space-between;
}

  @keyframes slide-in {
    0% {
      -webkit-transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  

/*--------outline---border----*/

/*alert-success-outline-color*/
.alert-outline-success{
    border : 1px solid var(--alert-success-border);
}

/*alert-info-outline-color*/
.alert-outline-info{
    border : 1px solid var(--alert-info-border);
}

/*alert-warning-outline-color*/
.alert-outline-warning{
    border : 1px solid var( --alert-warning-border);
}

/*alert-danger-outline-color*/
.alert-outline-danger{
    border : 1px solid var( --alert-danger-border );
}

/*alert-default-outline-color*/
.alert-outline-default{
    border : 1px solid var(--alert-default-border);
}


/*--------fill---alert----------*/

/*alert-success-fill-color*/
.alert-fill-box-success{
  color:var(--alert-success-color); 
  background-color: var( --alert-bg-color-success);
  border-color: var(--alert-success-border);
}


/*alert-info--fill-color*/
.alert-fill-box-info{
  color: var(--alert-info-color);   
  background-color:var(--alert-bg-color-info);
  border-color: var(--alert-info-border);
}


/*alert-warning-fill-color*/
.alert-fill-box-warning{
  color: var( --alert-warning-color);
  background-color: var(--alert-bg-color-warning);
  border-color: var(--alert-warning-border);
}


/*alert-danger-fill-color*/
.alert-fill-box-danger{
  color: var(--alert-danger-color);
  background-color:var(--alert-bg-color-danger);
  border-color: var(--alert-danger-border);
}

/*alert-default-fill-color*/
.alert-fill-box-default{
  color: var(--alert-default-color);
  background-color: var(--alert-bg-color-default);
  border-color: var(--alert-default-border);
}


/*----alert-text-onhover*/
.alert-link{
  color: var(--primary-text-color);
}

.alert-link:hover{
  text-decoration: underline;
}


