@import "../../utility/component.css";

.card-image-header{
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  width: 100vw;
}

.card-Horizontal-image-header{
    max-width: 100%;
    height: auto;
    display: block; 
}

.Card-with-badges-body{
    /* width: max-content; */
    /* height: 200px; */
    background-color: var(--white);
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    /* padding: 30px; */
    text-align: left;
    /* width: auto; */
    flex: 20 0 33.33333333%;
    /* padding-left: 2px;
    padding-right: 2px; */
    position: relative;
    flex: 1;
    /* max-width: min-content; */
}

.Vertical-Cards-with-badge-body{
    width: 30%;
   /* width: max-content; */
    /* height: 200px; */
    background-color: var(--white);
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    text-align: left;
    /* width: auto; */
    flex: 20 0 33.33333333%;
    /* padding-left: 2px;
    padding-right: 2px; */
    position: relative;
    flex: 1;
    /* max-width: min-content; */
}

.Vertical-Cards-with-badge-body-dismiss{
    width: 30%;
    /* width: max-content; */
     /* height: 200px; */
     background-color: var(--white);
     box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
     text-align: left;
     /* width: auto; */
     flex: 20 0 33.33333333%;
     /* padding-left: 2px;
     padding-right: 2px; */
     position: relative;
     flex: 1;
     /* max-width: min-content; */
}

/* .vertical-card-header{
    width: fit-content;
}

.wrapper{
   width: auto;
}

.vertical-card-header:hover + .vertical-hover-button {
    display: block;
    position: absolute;
    top: 0;
    z-index: 3;
    color: white;

}


.vertical-hover-button{
    display: none;
} */

.vertical-card-header{
    width: fit-content;
}


.vertical-hover-icon{
    display: block;
    position: absolute;
    top: 0;
    z-index: 3;
    color: var(--yellow);
    cursor: pointer;
}

.vertical-icon-dismiss{
    display: block;
    position: absolute;
    top: 0;
    z-index: 3;
    color: var(--white);
    cursor: pointer;
}

.vertical-icon-dismiss:hover{
    color : var(--icon-forth-color)
}


/**/
.bottom-shape{ 
    border-style: solid;
    height: 0px;
    width: 0px;
    position: absolute;
    border-width: 0rem 9em 6em 0px;
    right: 0;
	transform:rotate(360deg);
    border-color: rgba(255,255,255,0) #cbd94f rgba(255,255,255,0) rgba(255,255,255,0);
 }
 .bottom-shape-text{ 	
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right:-40px; 
    top:2px;
    white-space: nowrap; }
/*  */

/**/
.top-shape{ 
    border-style: solid;
    height: 0px;
    width: 0px;
    position: absolute;
    border-width: 0rem 60px 100px 0px;
    right: 0;
	transform:rotate(360deg);
    border-color: rgba(255,255,255,0) #48335c rgba(255,255,255,0) rgba(255,255,255,0);
 }
 .top-shape-text{ 	
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right:-40px; 
    top:2px;
    white-space: nowrap; }
/*  */


.shape{    
	border-style: solid; border-width: 0 70px 40px 0;  height: 0px; width: 0px; position: absolute; right: 0;
	/* transform:rotate(360deg); */
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}


.shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	/* transform:rotate(30deg); */
}


.card-text-overlay{
    opacity: 0.5;
}

   /* content: "Out of stack";
    width: auto;
    height: 20%;
    position: absolute;
    color: blue;
    text-transform: uppercase;
    transform: rotate(335deg);
    top: 10rem;
    left: 2rem;
    margin: auto;
    font-size: larger; */

.card-text-overlay::after{
    content: "out of stock";
    /* width: auto; */
    /* height: 11%; */
    position: absolute;
    color: var(--icon-forth-color);
    border: solid;
    border-style: solid;
    border-width: 3px;
    text-transform: uppercase;
    transform: rotate(335deg);
    top: 8rem;
    left: 4rem;
    z-index: 1;
    margin: auto;
    font-size: larger;

}

.Card-with-badges-container{
    display: flex;
    /* row-gap: 2%; */
    column-gap: 3rem;
    flex-wrap: wrap;
    width:fit-content;
}

.Horizentol-rating-icon{
    cursor: pointer;
}

.card-with-shadow{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

@media (max-width: 700px) {
    .Card-with-badges-body {
        /* width: max-content; */
        /* height: 200px; */
        background-color: var(--white);
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
        /* padding: 30px; */
        text-align: left;
        /* width: auto; */
        flex: 20 0 33.33333333%;
        /* padding-left: 20px;
        padding-right: 20px; */
        position: relative;
        flex: 1;
        /* max-width: min-content; */
        /* width: 30rem; */
        /* width: auto; */
    }

    .Vertical-Cards-with-badge-body{
        /* width: 30%; */
       /* width: max-content; */
        /* height: 200px; */
        background-color: var(--white);
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
        /* padding: 3px; */
        text-align: left;
        /* width: auto; */
        flex: 20 0 33.33333333%;
        /* padding-left: 2px;
        padding-right: 2px; */
        position: relative;
        flex: 1;
        width: auto;
        /* max-width: min-content; */
    }

    .Vertical-Cards-with-badge-body-dismiss{
        /* width: 30%; */
        /* width: max-content; */
         /* height: 200px; */
         background-color: var(--white);
         box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
         text-align: left;
         /* width: auto; */
         flex: 20 0 33.33333333%;
         /* padding-left: 2px;
         padding-right: 2px; */
         position: relative;
         flex: 1;
         width: auto;
         /* max-width: min-content; */
    }

.Card-with-badges-container{
        flex-direction: column;
    /* column-gap: 2%; */
    /* row-gap: 2%; */
    /* gap: 0%; */
    gap: 2rem;
    }
}