@import "../../utility/component.css";



.image-avatar{
    width: var(--avatar-size-medium);
    height: var(--avatar-size-medium);
}

.image-avatar-small{
  width: var(--avatar-size-small);
  height: var(--avatar-size-small);
}

.image-avatar-medium{
  width: var(--avatar-size-medium);
  height: var(--avatar-size-medium);
}

.image-avatar-larger{
  width: var(--avatar-size-larger);
  height: var(--avatar-size-larger);
}

.Letter-avatar{
    /* background-color: var(--secondary-background-color); */
    height: var(--avatar-size-small);
    text-align: center;
    width: var(--avatar-size-small);
}

.Letter-avatar-label{
    font-size: calc(var(--avatar-size-small) / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(var(--avatar-size-small) / 4); /* 25% of parent */
}

.avatar-icon-color-white{
    color: var(--white);
}

.live-Status-avatar-border-radius-round{
    width: 53px;
    height:55px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border: 2px solid var(--white);
    margin-bottom: 2px;
  }

.live-Status-avatar-dot{
    width: 16px;
    height:16px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border: 2px solid var(--white);
    margin-bottom: 2px;
    position: absolute;
  }

.live-Status-avatar{
  position: relative;
  display: inline-block;
}


/*/-group avatra-/*/

.group-avatar-item-img {
    border-radius: 50%;
    position: relative;
    margin-left: -2rem;
    z-index: 1;
  }
  
  .group-avatar {
    direction: rtl;  
    padding-left: 2rem;
    display: flex;
  }




/*8---*/


