::-webkit-scrollbar {
    width: 7px;
    color: black;
    /* background: blueviolet; */
    /* background: scroll; */
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var( --icon-primary-color);
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var( --icon-primary-color);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar:horizontal{
    height: 7px;
    color: rgb(124, 136, 238);
    /* background: blueviolet; */
    /* background: scroll; */
  }
  
  ::-webkit-scrollbar-thumb:horizontal{
    background: var( --secondary-text-color);
    border-radius: 2px;
  }