::-webkit-scrollbar {
    width: 7px;
    color: black;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var( --primary-color);
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var( --primary-color);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar:horizontal{
    height: 7px;
    color: rgb(124, 136, 238);
  }
  
  ::-webkit-scrollbar-thumb:horizontal{
    background: var( --secondary-text-color);
    border-radius: 2px;
  }