

/*-------alert-----*/ 
  
.success {color: var(--green) }
.info {color: var(--blue)}
.warning {color: var(--yellow)}
.danger {color: var( --red)}
.default {color: var( --black)}
.whitecolor {color:var(--white)}

/*textcolor*/

.color-black{
  color: var(--primary-text-color);
}

/*-------default background and font color-----*/ 

.default-color{
    color:var(--secondary-background-color);
  }
  
  .default-background-color{
   background-color:var(--secondary-background-color);
  }
  
   /*-------- icon-background-color ------*/
  
   .icon-primary-background-color{
    background-color:var(--icon-primary-color);
   }
  
   .icon-secondary-background-color{
     background-color: var(--icon-secondary-color);
   }
  
  .icon-tertiary-background-color{
    background-color: var(--icon-tertiary-color);
  }
  
  .icon-forth-background-color{
    background-color: var( --icon-forth-color);
  }
  
   /*----------- icon-color ------------*/
  
   .icon-primary-color{
    color:var(--icon-primary-color);
   }
  
   .icon-secondary-color{
     color: var(--icon-secondary-color);
   }
  
  .icon-tertiary-color{
    color: var(--icon-tertiary-color);
  }
  
  .icon-forth-color{
    color: var( --icon-forth-color);
  }