
/*use id because class simple modal and action modal  "display: none;" not working for the pop up modal .
For to change the priority that why define seprate id  */
#SimpleModal, #ActionModal{
    display: none;
}

/* For code reviewer ->  already have a flex utility class but i don't want to use it here*/
.SimpleModal, .ActionModal{
    display: none;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--modal-bg);
    transition: all .4s;
    z-index: 1;
  
}

.SimpleModal_content ,.ActionModal_content{
    border-radius: 4px;
    position: absolute;
    width: fit-content;
    max-width: 100%;
    background: var(--white);
    padding: 1em 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    width: fit-content;
  }

  /*close modal*/
  .SimpleModal_close ,.ActionModal_close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--modal-bg);
    text-decoration: none;
  }

  /* action modal footer */




 
