

.img-logo{
    max-width: 100%;
    width: 25rem;
    position: absolute;
    top:  -10em;
    left: 0em;
}

.logo-nightmode{
    max-width: 100%;
    width: 25rem;
    position: absolute;
    top:  -10em;
    left: 0em;
    display: none;
}

.logo-font-family{
    font-family: fantasy;
}

.home-container{
    display: grid;
    grid-template-rows: 
    "header"
    "section" 
    "footer";
    height: auto;
    width: auto;
}


.home-header{
    display: block;
    position: relative;
    background-color: var(--white);
    width: auto;
    height: auto;
}

.home-header-logo{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: relative;
}

.home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    padding-top: 5rem;
}

.heading-title{
    font-family: var(--secondary-font-family);
}

.card-header{
   width: fit-content;
}

.card-icon-size{
    font-size:2.5em !important;
    color: var(--white);
}

.card-body{
    background-color: var(--white);
    box-shadow: 5px 5px 1.25rem 0 rgb(0 0 0 / 20%);
    padding: 30px;
    text-align: left;
    flex: 20 0 33.33333333%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
    flex: 1;
    width: 30rem;
}

.card-icon-background{
    background-color: var(--secondary-color);  
    border-radius: 50%;
}

.flex-gap-item-inbetween{
    gap: 2rem;
    justify-content: center;
    position: absolute;
    margin:auto;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30rem;
}


.home-background-black-container{
    color: var( --black-backkground);
    background-color: var(--secondary-background-color);
    height: 25.25rem;
    width: 100%;
    margin: 19.813rem auto 0 0;
}
   
.home-footer{
    color: var(--white);
    background-color: var( --footer-backgroundcolor);
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    padding-top: 5vh;
    margin-top: 65rem;
    position: relative;
}

.home-alink{
    z-index: var( --z-index-1);
}

@media screen and (max-width: 480px) {
    .card-body {
        background-color: var(--white);
        box-shadow: 5px 5px 1.25rem 0 rgb(0 0 0 / 20%);
        padding: 1.875rem;
        text-align: left;
        flex: 20 0 33.33333333%;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        position: relative;
        flex: 1;
        width: auto;
    }
}

@media screen and (min-width: 640px) {
    .home-footer{
        color: var(--white);
        background-color: var( --footer-backgroundcolor);
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        padding-top: 5vh;
        margin-top: 65rem;
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    .home-footer{
        color: var(--white);
        background-color: var( --footer-backgroundcolor);
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        padding-top: 5vh;
        margin-top: 65rem;
        position: relative;
    }
}
@media screen and (min-width: 1024px) {
    .home-footer{
        color: var(--white);
        background-color: var( --footer-backgroundcolor);
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        padding-top: 5vh;
        margin-top: 65rem;
        position: relative;
    }
}
@media screen and (min-width: 1280px) {
    .home-footer{
        color: var(--white);
        background-color: var( --footer-backgroundcolor);
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        padding-top: 5vh;
        margin-top: 65rem;
        position: relative;
    } 
}



@media screen and (min-width: 1536px) {
   
    .home-footer{
        color: var(--white);
        background-color: var( --footer-backgroundcolor);
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        padding-top: 5vh;
        margin-top: 25rem;
        position: relative;
    }

}





