


  /*-------------------------padding*/

  .typography-padding-top-right{
    padding: 1rem 1rem;
  }

  .typography-padding-top-bottom{
    padding: 15px 0px 15px 0px;
  }

  .typography-padding-top-right-bottom-left{
    padding: 15px 46px 15px 45px;
  }

  .typography-padding-cardbadge{
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  }

  /* .typography-padding-1rem{
    padding: 1rem 1rem 1rem 1rem;
  } */